/*Fuente*/
/* Fuente de Google: Agbalumo */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

/* html{
    width: 1300px;
} */
/* Estilos Generales y Contenedor Principal */
body{
    background: rgb(234, 232, 243);
    width: 100%; /* Ancho total del contenedor 1300px*/
    margin: auto;
    font-size: 16px;
}

nav {
    background: rgb(60, 240, 204);
    margin-bottom: 1.153846153846154%; /*15*100/1300=1.153846153846154*/
}

/* Centramos el contenido del ul */
nav ul {
    padding: 0; /*le pongo 0 para quitarle el padding que sale por defecto*/
    margin: 0;
}

/*Una caja me ocupa 150px tengo 3 = 450px y tengo 1300px para usar
aun me caben 5 mas ya que la 6 se supera dando 1350px*/
nav ul li {
    display: inline-block;
    width: 11.53846153846154%; /*150*100/1300= 11.53846153846154 */
    text-align: center;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: rgb(8, 8, 8);
    padding: 13.33333333333333% 0; /*20*100/150=13,33333333333333*/
    font-size: 1em;
}
nav ul li a:hover {
    background-color: darkcyan;
    box-shadow: 0px 0px 15px rgba(0, 0, 139, 0.8);
}

/* Estilos de la Cabecera/Título Principal */
#titulo{
    height: 250px;
    /*poder poner una imagen de fondo sin que se repita y coga todo el ancho de la web*/
    background-image: url("img/platita.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*..*/
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 3.846153846153846%; /*50*100/1300=3.846153846153846*/
    font-size: 2.5em;
    text-shadow: 3px 3px 8px rgba(0,0,0,0.7), 0px 1px 0px #fff;
    margin: 0;
}

/*De mis 1300px usable decido coger 500px para el primer div de la drc*/
/*500+20(padding)=520px ancho total que ocupa. Ancho de contenido: 480px.*/
#lateral{
    width: 36.92307692307692%; /*480*100/1300=36.92307692307692*/
    background-color: blanchedalmond;
    float: left; /*lo pongo a la drc*/
    /* 10px / 480px * 100 = 2.083333333333333% */
    padding: 2.083333333333333%;
    position: relative;
    font-size: 0.95em;
}
/*Quiero que el siguiente me ocupe todo lo demas.
Ancho de contenido para #form (780px totales - 30px padding): 750px usables, pero necesitamos dejar un margen.
*/
#form{
    width: 54.61538461538461%; /*750*100/1300=54.61538461538461*/
    padding: 2.112676056338028%; /*15*100/710=2.112676056338028*/
    background-color: rgb(240, 168, 168);
    float: left; /*lo pongo a la drc*/
    font-size: 1em;
}

/*Caja contenedora cual dentro de ella tendra los demas div*/
#cajaContenedoraPrincipal{
    background-color: rgb(154, 241, 194);
    width: 100%;
    padding: 1.153846153846154% 0; /*15*100/1300=1.153846153846154*/
    overflow: hidden;
    display: flex;
}


/*Imagen*/
/*Espacio usable 500px-20px(padding)=480px*/
/*Poner en el medio 480/2=240*/
#animales{
    width: 90%; /*450*100/500=90 */
    border: 2px solid black; /*450+4=484px ocupa total ancho*/
    border-radius: 10px;
    display: block; /*Le digo que va a ser bloque un elemento en bloque para que me pille el margin auto*/
    margin: 0 auto;
}

/*Estilo del enlace del aside*/
#quieresSaber{
    font-size: 1em; /*con referencia al padre*/
    font-family: cursive;
    color: red;
    position: absolute;
    bottom: 0;
}

.aviso{
    font-weight: bold;
    color: red;
}
.aviso{
    font-size: 0.95em;
}
/*Estilos del formu*/
/*Espacio usable 500-15-15=470px */
#cajaFormulario{
    width: 66.66666666666667%; /*500*100/750=66.66666666666667*/
    background-color: rgb(197, 203, 207);
    border-radius: 5px;
    padding: 2%; /*15*100/750=2*/
    margin: 0 auto;
    overflow: hidden;
    font-size: 1em;
}

label{
    display: block;
    margin: 2.127659574468085% 0px; /*10*100/470=2.127659574468085*/
    text-align: center;
    font-family: "Agbalumo";
    font-size: 1em;
}
input, select{
    display: block;
    margin: 0 auto;
    font-size: 0.95em;
}

/*Para no escribir pegado a la caja*/
input[type="text"]{
    padding-left: 2.127659574468085%;
    color: blue; /*Color azul solicitado*/
}


/*En la indicacion me dice que ocupe todo el ancho*/
input[type="submit"]{
    width: 100%; /*quiero que ocupe todo*/
    height: 30px;
    background-color: antiquewhite;
    font-size: 1em;
}
input[type="submit"]:hover{
    background-color: red;
    color: aliceblue;
}
/* Estilos del Pie de Página (Footer) */
.piePagina{
    width: 100%; /*Le doy el mismo tamaño que el body*/
    bottom: 0; /*Lo fijo abajo*/
    position: sticky; /*Para el footer uso posicion sticky */
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    padding-bottom: 3.076923076923077%; /*40*100/1300=3.076923076923077*/
}


/*Media query para 50% de resolucion */
/*operacion 1300px / 2 = 650px*/
@media (max-width: 650px) {
    body { 
        font-size: 18px; 
    }
    #titulo { 
        font-size: 3em;
        color: blue; 
    }
    #form, #cajaFormulario { 
        font-size: 1.2em; 
    }
    label, input, select { 
        font-size: 1.1em; 
    }
}
